.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
}

body{
    background-image: url('../img/fondo.jpg');
    height: 100%;
    width: 100%;
}

.container-btn-add{
    display: flex;
    
    padding-bottom: 4px;
}

.titulo-tabla{
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: space-between;

}

.lupa{
    padding-top: 12px;
    color: #1f6fa5;
}
.salir:hover{
   
    background-color: red;
}

.top{
    padding-top: 120px;
}

.img-responsive{
    width: inherit;
}

.bw{
    justify-content: space-between;
}
.img-logo{
    display:block;
    margin:auto;
    padding-right: 5px;
    }

.img-login {
    padding: 20px;
    padding-right: 35px;
    width: 380px;
    height: auto;

}

